
.about{
    background-color: #1e2025;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.about .about-left .progress  {
    border-radius: 0px !important;
    height: 10px;
}
.about-inner-l img{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.about-inner-r a{
    text-decoration: none;
    color: white;
}
.about-inner-r a:hover{
    text-decoration: none;
    color: rgb(220, 220, 220);
}